
*.xml
backend/sistemi-menaxhimit-te-fakulltetit/src/main/java/com/projekti/sistemimenaxhimittefakulltetit/config/StaticResourceConfiguration.java
backend/sistemi-menaxhimit-te-fakulltetit/src/main/java/com/projekti/sistemimenaxhimittefakulltetit/config/StaticResourceConfiguration.java
