/* Default styles */
.menu {
  height: 100%;
  text-wrap: nowrap;
  padding: 0px;
  overflow: visible;
}

.menuitem {
  margin: -10px 0px 10px 0px;
  padding-top:15px;
  padding-bottom:20px;
  /* padding-left: 5px; */
}

.box{
  transition: 0.3s;
  z-index: 10;
}

/* Styles for mobile screens */
@media screen and (max-width: 768px) {
  .prosidebar{
    width: 100vw;
    height: 100vh;
    position: absolute;
  }

  .box {
    position: fixed;
    width: 270px;
  }
  
  .menu.collapsed {
    overflow: hidden;
  }
  .prosidebar.collapsed {
    height: 80px;
    overflow: hidden;
  }
  .box.collapsed {
    width: 80px;
    position: absolute;
  }
  
}

/* Styles for larger screens */
@media screen and (min-width: 769px) {
  .prosidebar{
   position: fixed;
  }

  .box {
    position: static;
    width: 270px;
  }

  .menu.collapsed {
    overflow: hidden;
  }
  .prosidebar.collapsed {
    overflow: hidden;
  }

  .box.collapsed{
    width: 80px;
  }
}
